In [ ]:
# #To be used on cloud platforms

# ! python -c "import pykeen" || pip install pykeen
# ! python -c "import scprep" || pip install scprep

In [1]:
import os, pandas as pd, numpy as np, torch, pykeen, scprep
import rpy2, rpy2.situation

In [2]:
print(os.getcwd())
data_dir = f"{os.getcwd()}/data"
kge_dir = f"{os.getcwd()}/KGEs"

/gpfs/ysm/project/krishnaswamy_smita/fc489/yaleCollab

# DataBases

The integrated database is the object ingested by pykeen's *TriplesFactory*.

In [3]:
pd.read_csv(f"{data_dir}/dCellChat.tsv", sep="\t")

       head       relation    tail pathway
0     Tgfb1  LRinteraction  Tgfbr1    TGFb
1     Tgfb1  LRinteraction  Tgfbr2    TGFb
2     Tgfb2  LRinteraction  Tgfbr1    TGFb
3     Tgfb2  LRinteraction  Tgfbr2    TGFb
4     Tgfb3  LRinteraction  Tgfbr1    TGFb
...     ...            ...     ...     ...
2058  Vcam1  LRinteraction   Itga4    VCAM
2059  Vcam1  LRinteraction   Itgb1    VCAM
2060  Vcam1  LRinteraction   Itga9    VCAM
2061  Vcam1  LRinteraction   Itgb7    VCAM
2062   Vsir  LRinteraction  Igsf11   VISTA

[2063 rows x 4 columns]

In [4]:
pd.read_csv(f"{data_dir}/dSTRING.tsv", sep="\t")

           head  relation      tail
0         Gnai3  FIstring     Prkca
1         Gnai3  FIstring     Rgs18
2         Gnai3  FIstring     Gpsm2
3         Gnai3  FIstring     Adrb3
4         Gnai3  FIstring     Gnat2
...         ...       ...       ...
437237  Gm28635  FIstring  Arhgap35
437238  Gm28635  FIstring     Cdh17
437239  Gm28635  FIstring     Kif5b
437240  Gm28635  FIstring      Tjp3
437241     Carf  FIstring      Cpa5

[437242 rows x 3 columns]

In [5]:
pd.read_csv(f"{data_dir}/dINT_simpl.tsv", sep="\t", header=None)

              0              1         2
0         Tgfb1  LRinteraction    Tgfbr1
1         Tgfb1  LRinteraction    Tgfbr2
2         Tgfb2  LRinteraction    Tgfbr1
3         Tgfb2  LRinteraction    Tgfbr2
4         Tgfb3  LRinteraction    Tgfbr1
...         ...            ...       ...
439018  Gm28635       FIstring  Arhgap35
439019  Gm28635       FIstring     Cdh17
439020  Gm28635       FIstring     Kif5b
439021  Gm28635       FIstring      Tjp3
439022     Carf       FIstring      Cpa5

[439023 rows x 3 columns]

# scRNAseq data

We will have to use rpy to import the seurat object with the data. From there we already have code (from RNA Velo NBs) to extract metadata. Need to extract count matrices.

In [6]:
for i in rpy2.situation.iter_info(): # Print Rpy2 info
    print(i)

rpy2 version:
3.5.1
Python version:
3.9.13 | packaged by conda-forge | (main, May 27 2022, 16:58:50)
[GCC 10.3.0]
Looking for R's HOME:
    Environment variable R_HOME: None
    Calling `R RHOME`: /gpfs/ysm/project/krishnaswamy_smita/fc489/conda_envs/ccmultiomkge/lib/R
    Environment variable R_LIBS_USER: None
R's additions to LD_LIBRARY_PATH:

R version:
    In the PATH: R version 4.1.3 (2022-03-10) -- "One Push-Up"
    Loading R library from rpy2: OK
Additional directories to load R packages from:
None
C extension compilation:
  include:
  ['/gpfs/ysm/project/krishnaswamy_smita/fc489/conda_envs/ccmultiomkge/lib/R/include']
  libraries:
  ['R', 'pcre2-8', 'lzma', 'bz2', 'z', 'rt', 'dl', 'm', 'iconv', 'icuuc', 'icui18n']
  library_dirs:
  ['/gpfs/ysm/project/krishnaswamy_smita/fc489/conda_envs/ccmultiomkge/lib', '/gpfs/ysm/project/krishnaswamy_smita/fc489/conda_envs/ccmultiomkge/lib/R/lib', '/gpfs/ysm/project/krishnaswamy_smita/fc489/conda_envs/ccmultiomkge/lib']
  extra_compile_args:
  []
  extra_link_args:
  ['-Wl,--export-dynamic', '-fopenmp', '-Wl,-O2', '-Wl,--sort-common', '-Wl,--as-needed', '-Wl,-z,relro', '-Wl,-z,now', '-Wl,--disable-new-dtags', '-Wl,--gc-sections', '-Wl,--allow-shlib-undefined', '-Wl,-rpath,/gpfs/ysm/project/krishnaswamy_smita/fc489/conda_envs/ccmultiomkge/lib', '-Wl,-rpath-link,/gpfs/ysm/project/krishnaswamy_smita/fc489/conda_envs/ccmultiomkge/lib']

In [7]:
%load_ext rpy2.ipython

## Prep data

In [8]:
%%R -i data_dir
library(tidyverse)
library(Seurat)

paste0(data_dir)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.3.6      ✔ purrr   0.3.4
✔ tibble  3.1.8      ✔ dplyr   1.0.10
✔ tidyr   1.2.1      ✔ stringr 1.4.1
✔ readr   2.1.2      ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

    WARNING: The R package "reticulate" does not
    consider that it could be called from a Python process. This
    results in a quasi-obligatory segfault when rpy2 is evaluating
    R code using it. On the hand, rpy2 is accounting for the
    fact that it might already be running embedded in a Python
    process. This is why:
    - Python -> rpy2 -> R -> reticulate: crashes
    - R -> reticulate -> Python -> rpy2: works

    The issue with reticulate is tracked here:
    https://github.com/rstudio/reticulate/issues/208

R[write to console]: Attaching SeuratObject

R[write to console]: Attaching sp

[1] "/gpfs/ysm/project/krishnaswamy_smita/fc489/yaleCollab/data"

In [9]:
%%R

d_fibWT = readRDS(paste0(data_dir,"/Omics/","d_fibWT.rds"))
d_fibWT

An object of class Seurat
40940 features across 3698 samples within 2 assays
Active assay: SCT (20073 features, 10000 variable features)
 1 other assay present: RNA
 3 dimensional reductions calculated: pca, umap, phate

## Build gene-gene similarity graph

Final implementation will use wavelet-transformed features, but we will start 
by making the gene-gene similarity graph with MAGIC smoothed data.

Process:

-

# KGE